<div class="news_content">
    <div class="news_top_block">
        <h4 class="news_top_title">Travelaja Articles</h4>
        <p class="news_top_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam</p>
    </div>
    <div class="menu_service">
        <ul class="nemu_list">
            <li class="munu_item btn_menu"><a class="menu_ahre" href="#"><p class="menu_list_text white_text">Adventure Travel</p></a></li>
            <li class="menu_item"><a class="menu_ahre" href="#"><p class="menu_list_text">Beach</p></a></li>
            <li class="menu_item"><a class="menu_ahre" href="#"><p class="menu_list_text">Explore World</p></a></li>
            <li class="menu_item"><a class="menu_ahre" href="#"><p class="menu_list_text">Family Holidays</p></a></li>
            <li class="menu_item"><a class="menu_ahre" href="#"><p class="menu_list_text">Art and culture</p></a></li>
        </ul>
    </div>
    <div class="cards_destination_img">
        <div class="card_destination_block">
            <img src="/img/picture/news/card_img_1.png" alt="">
            <p class="card_destination_text">where can i go? 5 amazing countries that are open right now</p>
            <p class="card_destination_date">September 19, 2022</p>
        </div>
        <div class="card_destination_block">
            <img src="/img/picture/news/card_img_2.png" alt="">
            <p class="card_destination_text">where can i go? 5 amazing countries that are open right now</p>
            <p class="card_destination_date">September 19, 2022</p>
        </div>
        <div class="card_destination_block">
            <img src="/img/picture/news/card_img_3.png" alt="">
            <p class="card_destination_text">10 Indonesian Destinations you should visit in this year</p>
            <p class="card_destination_date">September 19, 2022</p>
        </div>
            <div class="card_destination_block">
                <img src="/img/picture/news/card_img_4.png" alt="">
                <p class="card_destination_text">5 mountains that you must visit while in Indonesia</p>
                <p class="card_destination_date">September 19, 2022</p>
            </div>
            <div class="card_destination_block">
                <img src="/img/picture/news/card_img_5.png" alt="">
                <p class="card_destination_text">the most interesting historical monuments in Indonesia</p>
                <p class="card_destination_date">September 19, 2022</p>
            </div>
            <div class="card_destination_block">
                <img src="/img/picture/news/card_img_6.png" alt="">
                <p class="card_destination_text">travel booking before missing the discount</p>
                <p class="card_destination_date">September 19, 2022</p>
            </div>
                <div class="card_destination_block">
                    <img src="/img/picture/news/card_img_7.png" alt="">
                    <p class="card_destination_text">10 Indonesian Destinations you should visit in this year</p>
                    <p class="card_destination_date">September 19, 2022</p>
                </div>
                    <div class="card_destination_block">
                        <img src="/img/picture/news/card_img_8.png" alt="">
                        <p class="card_destination_text">travel booking before missing the discount</p>
                        <p class="card_destination_date">September 19, 2022</p>
                    </div>
                        <div class="card_destination_block">
                            <img src="/img/picture/news/card_img_9.png" alt="">
                            <p class="card_destination_text">where can i go? 5 amazing countries that are open right now</p>
                            <p class="card_destination_date">September 19, 2022</p>
                        </div>
    </div>
</div>