.facilities_block {
    max-width: 1280px;
    height: 550px;
    background-image: url(/img/picture/service/facilities_picture.png);
    display: flex;
    flex-direction: row;
    margin: 0;
}

.facilities_block_left {
    width: 580px;
    height: 262px;
    margin: 144px 20px 144px 50px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.facilites_title {
    font-weight: 700;
    font-size: 57.34px;
    line-height: 57.34px;
    color: white;
}

.facilites_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;
    color: white;
    text-align: left;
}

.btn_block_facelities {
   margin-top: 20px;
    width: 127px;
    height: 49px;
    background-color: var(--green-light);
    border-radius: 8px;
}

.btn_facelities_item {
    text-decoration: none;
}

.btn_text_facelities {
    font-weight: 700;
    font-size: 16px;
    line-height: 28.8px;
    color: white;
    padding: 10px 20px 10px 20px;
}

.facelities_block_right {
    height: 376px;
    width: 580px;
    margin: 87px 50px 87px 00px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
}

.facelities_four_blocks {
    width: 280px;
    height: 178px;
    background-color: white;
    border-radius: 15px;
}

.right_block_facilities_title {
    font-weight: 700;
    font-size: 39.81px;
    line-height: 47.77px;
    color: var(--dark-color);
    margin: 0;
    padding: 0 75px 0 75px;

}

.right_block_facilities_description {
    font-weight: 500;
    font-size: 16px;
    line-height: 28.8px;
    color: var(--dark-color);
}
.svg_baby{
    padding: 24px 116px 0 116px;
}
.svg_drinks {
    padding: 24px 120px 0 130px;
}


.svg_camp {
    padding: 24px 116px 0 116px;
}

.svg_world {
    padding: 24px 116px 0 116px;
}