<div class="choose_us">
    <h2 class="choose_us_title">Why Choose Us ?</h2>
    <p class="choose_us_description">These popular destinations have a lot to offer</p>
    <div class="choose_us_blocks">
        <div class="choose_us_block_1">
            <img class="protection" src="/img/svg/about_us_svg/protection_svg.svg" alt="">
            <h3 class="choose_us_block_title">Best price guarantee</h3>
            <p class="chhose_us_block_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="choose_us_block_2">
            <img class="calendar" src="/img/svg/about_us_svg/calendar_svg.svg" alt="">
            <h3 class="choose_us_block_title">Easy Booking</h3>
            <p class="chhose_us_block_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="choose_us_block_3">
            <img class="support" src="/img/svg/about_us_svg/support_svg.svg" alt="">
            <h3 class="choose_us_block_title">Customer Service 24h</h3>
            <p class="chhose_us_block_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
</div>
<div class="about_travelaja">
    <div class="travaleja_block_text">
        <h2 class="about_travalaja_title">About Travelaja.com</h2>
        <p class="about_travalaja_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dictum et in feugiat. Platea in diam, est congue. Posuere
        sapien morbi augue ultrices. Et facilisi orci sollicitudin placerat lacus lacus nibh. Egestas semper massa viverra massa
        proin in morbi placerat. Pharetra nec, est non integer nisi, ut faucibus. Non, in nam sollicitudin vitae volutpat ac
        molestie. Turpis pellentesque sit pellentesque id cras lobortis tortor, blandit.</p>
        <p class="about_travalaja_text text_teavaleja_bottom">Id ac non, semper turpis maecenas. Convallis tempor fringilla quisque arcu, dictum. Vitae cursus vel netus tincidunt
        vitae. Malesuada velit, at mattis adipiscing quisque tristique id magna. Blandit porta sit nam magna sit. Turpis
        vestibulum facilisis placerat habitant gravida eget. Lacus pretium, arcu non adipiscing sed faucibus semper eget tempor.</p>
    </div>
    <div class="travalega_img_block"><img src="/img/picture/about_us/girls_img.png" alt=""></div>  
</div>