<div class="footer">
  <div class="footer_content">
  <div class="footer_top_block">
    <div class="left_top_block">
      <h2 class="name_comp">travelaja</h2>
      <p class="footer_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna
      fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel</p>
    </div>
    <div class="top_block_links_first">
      <h3 class="footer_title">Links</h3>
      <ul class="footer_list_links">
        <a class="footer_links_items" href=""><li class="foter_links_item_text">Discover</li></a>
          <a class="footer_links_items" href="">
            <li class="foter_links_item_text">Special Deals</li>
          </a>
            <a class="footer_links_items" href="">
              <li class="foter_links_item_text">Services</li>
            </a>
              <a class="footer_links_items" href="">
                <li class="foter_links_item_text">Community</li>
              </a>
                <a class="footer_links_items" href="">
                  <li class="foter_links_item_text">About Us</li>
                </a>
      </ul>
    </div>
      <div class="top_block_links_second">
        <h3 class="footer_title">Services</h3>
        <ul class="footer_list_links">
          <a class="footer_links_items" href="">
            <li class="foter_links_item_text">About Us</li>
          </a>
          <a class="footer_links_items" href="">
            <li class="foter_links_item_text">Blog & Articles</li>
          </a>
          <a class="footer_links_items" href="">
            <li class="foter_links_item_text">Term and Condition</li>
          </a>
          <a class="footer_links_items" href="">
            <li class="foter_links_item_text">Privacy Policy</li>
          </a>
          <a class="footer_links_items" href="">
            <li class="foter_links_item_text">Contact Us</li>
          </a>
        </ul>
      </div>
        <div class="top_block_links_third">
          <h3 class="footer_title">Contact</h3>
          <ul class="footer_list_links">
            <a class="footer_links_items" href="">
              <li class="foter_links_item_text">Address: Jl.Codelaras No.205A</li>
            </a>
            <a class="footer_links_items" href="">
              <li class="foter_links_item_text">Kediri, Pare AG17</li>
            </a>
            <a class="footer_links_items" href="">
              <li class="foter_links_item_text">Phone: 123 456 7890</li>
            </a>
            <a class="footer_links_items" href="">
              <li class="foter_links_item_text">Email: myagungperdana@gmail.com</li>
            </a>
            <a class="footer_links_items" href="">
              <li class="foter_links_item_text">Maps: Kediri, East java</li>
            </a>
          </ul>
        </div>
  </div>
  <div class="bottom_block">
    <h4 class="bottom_title">Ikuti Kami</h4>
    <div class="bottom_img">
      <a href="#" class="img_svg_footer"><img class="first_svg_footer" src="/img/svg/footer/insta.svg" alt=""></a>
      <a href="#" class="img_svg_footer"><img class="second_svg_footer" src="/img/svg/footer/facebook.svg" alt=""></a>
      <a href="#" class="img_svg_footer"><img  class="third_svg_footer" src="/img/svg/footer/twitter.svg" alt=""></a>
      <a href="#" class="img_svg_footer"><img class="forth_svg_footer" src="/img/svg/footer/ball.svg" alt=""></a>
      <a href="#" class="img_svg_footer"><img class="fifth_svg_footer" src="/img/svg/footer/git.svg" alt=""></a>
    </div>
  </div>
  </div>
</div>