<header class="nextpage_header">
    <div class="header_nav_nextpage">
        <h3 class="nextpage">travelaja</h3>
        <ul class="header_list_nav_nextpage">
            <li><a href="/index.html" class="links_nav_fitp_nextpage">Home</a></li>
            <li><a href="/discover.html" class="links_nav_fitp_nextpage">Dіscover</a></li>
            <li><a href="/service.html" class="links_nav_fitp_nextpage">Services</a></li>
            <li><a href="/news.html" class="links_nav_fitp_nextpage">News</a></li>
            <li><a href="/about_us.html" class="links_nav_fitp_nextpage">About Us</a></li>
            <li><a href="contact_us.html" class="links_nav_fitp_nextpage">Contact</a></li>
        </ul>
        <div class="block_right_nextpage">
            <ul class="svg_items_nextpage">
                <li><a href="#" class="svg_links_nextpage"><img src="/img/svg/flagsind.svg" alt=""></a></li>
                <li><a href="#" class="svg_links_nextpage">ID</a></li>
                <li><a href="#" class="svg_links_nextpage"><img class="arrov_svg_nextpage" src="/img/svg/arrows_nextpage.svg" alt=""></a></li>
            </ul>
        </div>

    </div>
</header>