<div class="our_team_block">
    <h3 class="out_team_title">Our Teams</h3>
    <p class="our_team_descriptions">Lorem ipsum dolor sit amet</p>
    <div class="block_our_team_peson">
        <div class="block_our_team_prson_item">
            <img src="/img/picture/about_us/ourteam_1.png" alt="">
            <h2 class="our_team_person_name">Agung perdana</h2>
            <p class="person_job">Web Designer</p>
        </div>
        <div class="block_our_team_prson_item">
            <img src="/img/picture/about_us/ourteam_2.png" alt="">
            <h2 class="our_team_person_name">Viola Resti</h2>
            <p class="person_job">Marketing Director</p>
        </div>
        <div class="block_our_team_prson_item">
            <img src="/img/picture/about_us/ourteam_3.png" alt="">
            <h2 class="our_team_person_name">Rahardianysah</h2>
            <p class="person_job">International Relations</p>
        </div>
        <div class="block_our_team_prson_item">
            <img src="/img/picture/about_us/ourteam_4.png" alt="">
            <h2 class="our_team_person_name">Andika</h2>
            <p class="person_job">Medical Check</p>
        </div>
        <div class="block_our_team_prson_item">
            <img src="/img/picture/about_us/ourteam_5.png" alt="">
            <h2 class="our_team_person_name">Theresa Russell</h2>
            <p class="person_job">Doctor Assistant</p>
        </div>
    </div>
</div>
<div class="block_icon_tour">
    <img src="/img/svg/about_us_svg/ship_svg.svg" alt="">
    <img src="/img/svg/about_us_svg/city_tour_svg.svg" alt="">
    <img src="/img/svg/about_us_svg/island_svg.svg" alt="">
    <img src="/img/svg/about_us_svg/mapworld_svg.svg" alt="">
</div>