.about_us_img_header {
    width: 1281px;
    height: 250px;
    background-image: url(/img/picture/about_us/aboutus_img_top.png);
}

.about_us_header_text {
    padding: 160px 1081px 50px 50px;
    font-weight: 700;
    font-size: 33.18px;
    color: var(--white-color);
    white-space: nowrap;
}