<header class="header">
  <div class="header_nav">
    <h3>travelaja</h3>
    <ul class="header_list_nav">
      <li><a href="/index.html" class="links_nav_fitp">Home</a></li>
      <li><a href="/discover.html" class="links_nav_fitp">Dіscover</a></li>
      <li><a href="/service.html" class="links_nav_fitp">Services</a></li>
      <li><a href="/news.html" class="links_nav_fitp">News</a></li>
      <li><a href="/about_us.html" class="links_nav_fitp">About Us</a></li>
      <li><a href="contact_us.html" class="links_nav_fitp">Contact</a></li>
    </ul>
    <div class="block_right">
      <ul class="svg_items">
        <li><a href="#" class="svg_links"><img src="/img/svg/flagsind.svg" alt=""></a></li>
        <li><a href="#" class="svg_links">ID</a></li>
        <li><a href="#" class="svg_links"><img src="/img/svg/arrows.svg" class="arrov_svg" alt=""></a></li>
      </ul>
    </div>
  
  </div>
  <div class="content_header">
    <div class="content_header_text">
      <h1>Explore the world with a smile</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo,</p>
    </div>
    <div class="search">
      <div class="location">
        <img src="/img/svg/lacation.svg" alt="">
      </div>
        <ul class="travel_info_list">
          <li class="travel_info_items item_1">City or Destination</li>
          <li class="travel_info_items item_2">Date of stay</li>
          <li class="travel_info_items item_3">Person</li>
        </ul>
      <a href="#" class="btn_search">
        <h3 class="search_text">Find Trip Now</h3>
        <div class="img_search"><img src="img/svg/search.svg" alt=""></div>
      </a>
    </div>
  </div>
</header>
