<div class="testimonial">
    <h5 class="testimonial_name">Testimonial</h5>
    <h3 class="testimonial_header">What they say about us</h3>
    <div class="testimonial_block_items">
        <div class="testimonial_items">
            <div class="testimonial_items_top">
                <img class="photo_workers" src="/img/picture/about_us_img/about_us_ 1.png" alt="">
                <h4 class="dark_workers_name">Angelina Simple</h4>
            </div>
            <p class="testimonial_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
        </div>
            <div class="testimonial_items_green">
                <div class="testimonial_items_top">
                    <img class="photo_workers" src="/img/picture/about_us_img/about_us_ 2.png" alt="">
                    <h4 class="white_workers_name">Viola Natalie</h4>
                </div>
                <p class="testimonial_text_white">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet
                    luctus venenatis</p>
            </div>
                <div class="testimonial_items">
                    <div class="testimonial_items_top">
                        <img class="photo_workers" src="/img/picture/about_us_img/about_us_ 3.png" alt="">
                        <h4 class="dark_workers_name">Robert John K.</h4>
                    </div>
                    <p class="testimonial_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet
                        luctus venenatis</p>
                </div>
                    <div class="testimonial_items">
                        <div class="testimonial_items_top">
                            <img class="photo_workers" src="/img/picture/about_us_img/about_us_4.png" alt="">
                            <h4 class="dark_workers_name">Anggi Nani</h4>
                        </div>
                        <p class="testimonial_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet
                            luctus venenatis</p>
                    </div>
                        <div class="testimonial_items">
                            <div class="testimonial_items_top">
                                <img class="photo_workers" src="/img/picture/about_us_img/about_us_5.png" alt="">
                                <h4 class="dark_workers_name">Graham Suryo J</h4>
                            </div>
                            <p class="testimonial_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet
                                luctus venenatis</p>
                        </div>
                            <div class="testimonial_items">
                                <div class="testimonial_items_top">
                                    <img class="photo_workers" src="/img/picture/about_us_img/about_us_6.png" alt="">
                                    <h4 class="dark_workers_name">Bagas G Natfi</h4>
                                </div>
                                <p class="testimonial_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet
                                    luctus venenatis</p>
                            </div>
    </div>
</div>