<div class="top_destionation">
    <h5 class="top_destinations_header_name">Top Destination</h5>
    <h3 class="top_destinations_header_titel">Discover your love</h3>
    <div class="top_destination_items">
        <div class="top_destinations_element">
            <img class="top_destination_img" src="/img/picture/top_destination/1.png" alt="">
            <h5 class="top_destination_title">Taman Nasional Komodo</h5>
            <div class="top_destination_descriprion">
               <p class="rp_descriprion">Rp. 7,5jt</p>
               <img class="svg_arrow" src="/img/svg/arrov_destibation.svg" alt="">
               <p class="text_days">7 days for trips</p>
            </div>
        </div>
        <div class="top_destinations_element">
            <img class="top_destination_img" src="/img/picture/top_destination/2.png" alt="">
            <h5 class="top_destination_title">Taman Nasional Bunaken</h5>
            <div class="top_destination_descriprion">
                <p class="rp_descriprion">Rp. 10,5jt</p>
                <img class="svg_arrow" src="/img/svg/arrov_destibation.svg" alt="">
                <p class="text_days">9 days for trips</p>
            </div>
        </div>
        <div class="top_destinations_element">
            <img class="top_destination_img" src="/img/picture/top_destination/3.png" alt="">
            <h5 class="top_destination_title">Raja Ampat, Papua Barat</h5>
            <div class="top_destination_descriprion">
                <p class="rp_descriprion">Rp. 20,5jt</p>
                <img class="svg_arrow" src="/img/svg/arrov_destibation.svg" alt="">
                <p class="text_days">14 days for trips</p>
            </div>
        </div>
        <div class="top_destinations_element">
            <img class="top_destination_img" src="/img/picture/top_destination/4.png" alt="">
            <h5 class="top_destination_title">Kepulauan Wakatobi</h5>
            <div class="top_destination_descriprion">
                <p class="rp_descriprion">Rp. 9,5jt</p>
                <img class="svg_arrow" src="/img/svg/arrov_destibation.svg" alt="">
                <p class="text_days">12 days for trips</p>
            </div>
        </div>
        <div class="top_destinations_element">
            <img class="top_destination_img" src="/img/picture/top_destination/5.png" alt="">
            <h5 class="top_destination_title">Gili Trawangan, Lombok</h5>
            <div class="top_destination_descriprion">
                <p class="rp_descriprion">Rp. 6,5jt</p>
                <img class="svg_arrow" src="/img/svg/arrov_destibation.svg" alt="">
                <p class="text_days">7 days for trips</p>
            </div>
        </div>
        <div class="top_destinations_element">
            <img class="top_destination_img" src="/img/picture/top_destination/6.png" alt="">
            <h5 class="top_destination_title">Taman Nasional Bromo</h5>
            <div class="top_destination_descriprion">
                <p class="rp_descriprion">Rp. 9,5jt</p>
                <img class="svg_arrow" src="/img/svg/arrov_destibation.svg" alt="">
                <p class="text_days">7 days for trips</p>
            </div>
        </div>
    </div>
</div>