<div class="contact_content">
    <div class="left_block_contact">
        <h2 class="title_contact_us">Get in touch</h2>
        <p class="text_contact_us">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna
        fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper
        eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra</p>
        <div class="block_input_name">
            <p class="text_contact_us">Name :</p>
        <input class="input_name_size" placeholder="Input your name">
        </div>
        <div class="block_input_email">
            <p class="text_contact_us">Email :</p>
            <input class="input_name_size" placeholder="Email">
        </div>
        <div class="block_input_message">
            <p class="text_contact_us">Message :</p>
            <input class="input_message_size" placeholder=" ">
        </div>
        <div class="btn_wrapper_send">
            <p class="btn_send_text">Send</p>
        </div>
    </div>
    <div class="right_block_contact">
        <div class="block_map_contact">
            <iframe class="google_map_contact_us"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6661.091701061385!2d26.256956678617282!3d50.620020904743775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f135044c39df3%3A0xcf433e9d42a0a20a!2z0LLRg9C70LjRhtGPINCh0L7QsdC-0YDQvdCwLCDQoNGW0LLQvdC1LCDQoNGW0LLQvdC10L3RgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgMzMwMDQ!5e0!3m2!1suk!2sua!4v1675959901243!5m2!1suk!2sua"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="block_contact_us_information">
            <div class="left_block_information">
                <div class="item_block_information">
                    <p class="title_information_text">Address :</p>
                    <p class="text_information_contact">JL.Cindelaras No.205A</p>
                </div>
                <div class="item_block_information">
                    <p class="title_information_text">City :</p>
                    <p class="text_information_contact">Yogyakarta, Indonesia</p>
                </div>
                <div class="item_block_information">
                    <p class="title_information_text">Open :</p>
                    <p class="text_information_contact">At 8AM</p>
                </div>
            </div>
                <div class="right_block_information">
                    <div class="item_block_information">
                        <p class="title_information_text">Phone :</p>
                        <p class="text_information_contact">+62 1234 432 567</p>
                    </div>
                    <div class="item_block_information">
                        <p class="title_information_text">Email :</p>
                        <p class="text_information_contact">info@travelaja.com</p>
                    </div>
                    <div class="item_block_information">
                        <p class="title_information_text">Close :</p>
                        <p class="text_information_contact">At 8PM</p>
                    </div>
                </div>
        </div>
        <div class="bottom_right_block_info">
            <p class="text_information_contact_bottom">AVAILABLE AT 9AM - 10PM</p>
            <h2 class="title_bottom_number">+124 4537 9756</h2>
        </div>
    </div>
</div>