.news_content {
    width: 1180px;
    height: 1615px;
    margin: 100px 50px 100px 50px;
}

.news_top_block {
    margin: 0 320px 50px 320px;
}

.news_top_title {
    margin: 0;
    font-weight: 400;
    font-size: 27.65px;
    line-height: 33.18px;
    color: var(--dark-color);
    text-align: center;
}

.news_top_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;
    color: var(--dark-color);
    text-align: center;
    white-space: nowrap;
}

.menu_service {
    margin: 0 168px 54px 167px;
    max-width: 845px;
    mah-height: 49px;
}

.nemu_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.munu_item {
    margin: 0;
}

.btn_menu {
    width: 183px;
    height: 49px;
    background-color: var(--green-light);
    margin: 0;

}
.btn_menu:hover{
    background-color: var(--dark-color);
}


.menu_ahre {
    text-decoration: none;
}

.menu_list_text {
    font-weight: 700;
    font-size: 16px;
    line-height: 28.8px;
    color: var(--dark-color);
    padding: 10px 20px 10px 20px;
}
.menu_list_text:hover{
    color: var(--green-light);
}

.white_text {
    font-weight: 700;
    font-size: 16px;
    line-height: 180%;
    color: white;
    padding: 10px 20px 10px 20px;
}


.cards_destination_img {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 20px;
}

.card_destination_block {}

.card_destination_text {
    padding-top: 20px;
    font-weight: 400;
    font-size: 19.2px;
    line-height: 34.56px;
    color: black;
    text-align: left;
}

.card_destination_date {
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;
    color: var(--dark-color);
    text-align: left;
}