// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
 --contaiber: 1280px;
 --white-color: #FFFFFF;
 --green-light: #43B97F;
 --dark-color: #3D3E48;
 --dark-green: #295943;
}
