<div class="facilities_block">
    <div class="facilities_block_left">
        <h1 class="facilites_title">Facilities</h1>
        <p class="facilites_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna
        fringilla urna, porttitor rhoncus dolor purus non enim luctus venenatis, lectus magna fringilla urna, porttitor rhoncus
        dolor purus non eni</p>
        <div class="btn_block_facelities">
            <a href="#" class="btn_facelities_item"><p class="btn_text_facelities">Read More</p></a>
        </div>
    </div>
    <div class="facelities_block_right">
        <div class="facelities_four_blocks">
            <img class="svg_baby" src="/img/svg/service_svg/baby_svg.svg" alt="">
            <h2 class="right_block_facilities_title">Baby</h2>
            <p class="right_block_facilities_description">FREE BUGGY</p>
        </div>
        <div class="facelities_four_blocks">
            <img class="svg_drinks" src="/img/svg/service_svg/drinks_svg.svg" alt="">
            <h2 class="right_block_facilities_title">Drinks</h2>
            <p class="right_block_facilities_description">INCLUDED</p>
        </div>
        <div class="facelities_four_blocks">
            <img class="svg_camp" src="/img/svg/service_svg/camp_svg.svg" alt="">
            <h2 class="right_block_facilities_title">Camp</h2>
            <p class="right_block_facilities_description">INCLUDED</p>
        </div>
        <div class="facelities_four_blocks">
            <img class="svg_world" src="/img/svg/service_svg/world_svg.svg" alt="">
            <h2 class="right_block_facilities_title">World</h2>
            <p class="right_block_facilities_description">CUSTOM TOURS</p>
        </div>
    </div>
</div>