<div class="our_service_block">
    <div class="our_service_top_block">
        <p class="our_serivce_desription_top">BENEFITS</p>
        <h2 class="our_serivce_title_top">OUR SERVICE</h2>
    </div>
    <div class="content_our_service">
        <div class="content_our_service_block_1">
            <h3 class="title_content_our_service ">Staking</h3>
            <p class="text_content_our_service">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis.</p>
            <div class="btn_our_service_wrapper"><a class="btn_our_service" href="#">
                    <p class="btn_our_service_text">Read More</p>
                </a></div>
        </div>
        <div class="content_our_service_block_2">
            <h3 class="title_content_our_service ">Staking</h3>
            <p class="text_content_our_service">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et.
                Quisque euismod orci ut et lobortis.</p>
            <div class="btn_our_service_wrapper"><a class="btn_our_service" href="#">
                    <p class="btn_our_service_text">Read More</p>
                </a></div>
        </div>
        <div class="content_our_service_block_3">
            <h3 class="title_content_our_service ">Climbing</h3>
            <p class="text_content_our_service">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et.
                Quisque euismod orci ut et lobortis.</p>
            <div class="btn_our_service_wrapper"><a class="btn_our_service" href="#">
                    <p class="btn_our_service_text">Read More</p>
                </a></div>
        </div>
        <div class="content_our_service_block_4">
            <h3 class="title_content_our_service ">Tours</h3>
            <p class="text_content_our_service">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et.
                Quisque euismod orci ut et lobortis.</p>
            <div class="btn_our_service_wrapper"><a class="btn_our_service" href="#">
                    <p class="btn_our_service_text">Read More</p>
                </a></div>
        </div>
        <div class="content_our_service_block_5">
            <h3 class="title_content_our_service ">Diving</h3>
            <p class="text_content_our_service">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et.
                Quisque euismod orci ut et lobortis.</p>
            <div class="btn_our_service_wrapper"><a class="btn_our_service" href="#">
                    <p class="btn_our_service_text">Read More</p>
                </a></div>
        </div>
        <div class="content_our_service_block_6">
            <h3 class="title_content_our_service ">Flying</h3>
            <p class="text_content_our_service">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et.
                Quisque euismod orci ut et lobortis.</p>
            <div class="btn_our_service_wrapper"><a class="btn_our_service" href="#">
                    <p class="btn_our_service_text">Read More</p>
                </a></div>
        </div>
    </div>
</div>