<div class="card_service">
    <div class="card_service_blocks">
        <img class="best_price_svg" src="/img/svg/service_svg/best_price.svg" alt="">
        <h3 class="card_service_title">Get Best Price</h3>
        <p class="card_service_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras
        suscipit amet</p>
        <div class="btn_card_price_wrapper"><a class="btn_card_price" href="#">
            <p class="btn_card_price_text">READ MORE</p>
        </a></div>
    </div>
        <div class="card_service_blocks">
            <img class="card_service_destination" src="/img/svg/service_svg/all_destinations_svg.svg" alt="">
            <h3 class="card_service_title">Get Best Price</h3>
            <p class="card_service_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin
                eu lectus pellentesque. A cras
                suscipit amet</p>
        <div class="btn_card_price_wrapper"><a class="btn_card_price" href="#">
                <p class="btn_card_price_text">READ MORE</p>
            </a></div>
        </div>
            <div class="card_service_blocks">
                <img class="card_service_city" src="/img/svg/service_svg/city_tour.svg" alt="">
                <h3 class="card_service_title">Get Best Price</h3>
                <p class="card_service_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin
                    eu lectus pellentesque. A cras
                    suscipit amet</p>
                <div class="btn_card_price_wrapper"><a class="btn_card_price" href="#">
                        <p class="btn_card_price_text">READ MORE</p>
                    </a></div>
            </div>
                <div class="card_service_blocks last_block">
                    <img class="card_service_photography" src="/img/svg/service_svg/phtography.svg" alt="">
                    <h3 class="card_service_title">Get Best Price</h3>
                    <p class="card_service_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin
                        eu lectus pellentesque. A cras
                        suscipit amet</p>
                        <div class="btn_card_price_wrapper"><a class="btn_card_price" href="#">
                                <p class="btn_card_price_text">READ MORE</p>
                            </a></div>
                </div>
</div>
<div class="post_card">
    <div class="post_card_block left_block">
        <h2 class="post_card_title_first">Water City Dreams</h2>
        <h3 class="post_card_title_second">September 18, 2022</h3>
        <p class="post_card_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
        <div class="btn_post_card_wrapper"><a class="btn_post_card" href="#"><p class="btn_post_card_text">Read More</p></a></div>
    </div>
    <div class="post_card_block middle_block">
        <h2 class="post_card_title_first">Water City Dreams</h2>
        <h3 class="post_card_title_second">September 18, 2022</h3>
        <p class="post_card_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
            venenatis</p>
        <div class="btn_post_card_wrapper"><a class="btn_post_card" href="#">
                <p class="btn_post_card_text">Read More</p>
            </a></div>
    </div>
    <div class="post_card_block right_block">
        <h2 class="post_card_title_first">Water City Dreams</h2>
        <h3 class="post_card_title_second">September 18, 2022</h3>
        <p class="post_card_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
            venenatis</p>
        <div class="btn_post_card_wrapper"><a class="btn_post_card" href="#">
                <p class="btn_post_card_text">Read More</p>
            </a></div>
    </div>
</div>